
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: roboto;

}
body{
  background: #111;
}
.title{
  /* background: rgb(34, 34, 34); */
  height: 20%;
  width: 100%; 
  margin-bottom: 40px;
}
.title h2{
  font-size: 20px;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  color: rgb(255, 255, 255);
  line-height: 120px;
  font-weight: 100;
}
.title h4{
  margin-top: -20px;
  line-height: 10px;
  color: rgb(177, 177, 177);

}
.name{
  margin-top: 10px;
  width: 100%;
  height: 120px;
}
.name input{
  background: #222;
  color: white;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 60px;
}
.total{
  background: rgba(255, 0, 0, 0);
  width: 100%;
  height: 100px;
  margin-top: -30px;
}

.total h3{
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 100px;
  color: rgb(211, 211, 211);
  font-size: 40px;
}
.number{
  
  text-align: center;
  background: #d4d4d4;
  width: 220px;
  height: 220px;
  text-align: center;
  margin: 0px auto;
}
.number h1{
 color: rgb(37, 37, 37);
 font-size: 200px;
 line-height: 220px;
}

h3 {
  color: rgba(255, 255, 255, 0.205);
  margin: 40px;
}

/* test{
  color: #3edfb7;
  color: #fcff57;
  color: #45f06a;
  color: #3eb1df;
  color: #e445a2;
  color: #488f3a;
  color: #ff923f;
  color: #ae35ff;
  color: #fa5f5f;
  color: #d4d4d4;
  
} */

@media (max-width: 600px){
 
  .title h2{
    font-size: 14px;
    margin-top: 0;
    line-height: 80px;
  
  }
  .title h4{
    margin-top: 0px;
    line-height: 10px;
    color: rgb(177, 177, 177);
  
  }

  .name{
    margin-top: 10px;
    width: 100%;
    height: 60px;
  }

  .name input{
    height: 80px;
    font-size: 30px;
  }

  .total h3 {
    font-size: 30px;
  }

  .number{
    width: 180px;
    height: 180px;
  
  }
  .number h1{
   color: rgb(37, 37, 37);
   font-size: 120px;
   line-height: 180px;
  }
}
